.my_stuff
  .vertical-spacer
  .float-left.pad-left.pad-top
    %span.ui-icon.ui-icon-newwin
  .float-left.pad-top
    %a{:href => libraries_path}
      %span View my music libraries
  .clear-both.float-left.pad-left.pad-top
    %span.ui-icon.ui-icon-newwin
  .float-left.pad-top
    %a{:href => new_library_path}
      %span View all music libraries
  .clear-both.float-left.pad-left.pad-top
    %span.ui-icon.ui-icon-document
  .float-left.pad-top
    %a{:href => new_library_path}
      %span Create a new music library
  .clear-both.float-left.pad-left.pad-top
    %span.ui-icon.ui-icon-signal-diag
  .float-left.pad-top
    %a{:href => new_album_path}
      %span Enter a new album
