.tasks
  .vertical-spacer
  .clear-both.float-left.pad-left
    .float-left
      %span.ui-icon.ui-icon-search
    .float-left
      %span.emphasis Find an album
      %ul
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-pencil
          .float-left
            %a{:href => "#" }
              %span by title
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-pencil
          .float-left
            %a{:href => "#" }
              %span by genre
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-person
          .float-left
            %a{:href => "#" }
              %span by artist
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-person
          .float-left
            %a{:href => "#" }
              %span by composer
  .float-right.pad-right
    .float-left
      %span.ui-icon.ui-icon-search
    .float-left
      %span.emphasis Find a library
      %ul
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-pencil
          .float-left
            %a{:href => "#" }
              %span by name
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-person
          .float-left
            %a{:href => "#" }
              %span by creator
  .clear-both.float-left.pad-left.pad-top
    .float-left
      %span.ui-icon.ui-icon-search
    .float-left
      %span.emphasis Find a user
      %ul
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-pencil
          .float-left
            %a{:href => "#" }
              %span by name
        %li.clear-both
          .float-left
            %span.ui-icon.ui-icon-mail-closed
          .float-left
            %a{:href => "#" }
              %span by email
