.dashboard.clear-both
  .workspace.light-blue
    .widget.my-stuff.float-left
      .portlet-header My Musarcana
      .portlet-content
    .widget.latest-updates.float-left
      .portlet-header Latest updates
      .portlet-content
    .widget.tasks.float-left
      .portlet-header Things to do
      .portlet-content
    .widget.online.float-left
      .portlet-header Who's online
      .portlet-content
    .widget.shouts.float-left
      .portlet-header Shouts
      .portlet-content
    .widget.status.float-left
      .portlet-header Status
      .portlet-content
