.staff
  .information
    .psychocode.float-left
      - if (controller_name != 'musarcana' && action_name != 'dashboard')
        %a{:href => musarcana_dashboard_path}
          %span Return to dashboard
    .copyright.float-right
      %label &copy; 2011 Psychocode, Inc.

